<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Steppi</title>
  <link href="https://fonts.googleapis.com/css?family=Cairo:400,600,700" rel="stylesheet">
</head>

<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0"
       style="font-family: 'Cairo', sans-serif;background-color:#f7f7f7;border:none;border-collapse:collapse;border-spacing:0;width:100%">
  <tr>
    <td align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0"
             style="border:none;border-collapse:collapse;border-spacing:0;margin:auto;max-width:620px;width:100%; background: white;">
        <tr>
          <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                   style="border:none;border-collapse:collapse;border-spacing:0;width:100%">
              <tr>
                <td style="background-color: #283248;">
                  <img src="{{serverUrl}}/images/corporte-hero.jpg" alt="" style="max-width: 100%;">
                </td>
              </tr>
              <tr>
                <td style="background-color: #283248;">
                  <p style="padding: 5px;margin:0;">&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <table border="0" cellpadding="0" cellspacing="0" width="100%"
                         style="direction: ltr; background-color:#283248; border:none;border-collapse:collapse;border-spacing:0;width:100%">
                    <tr>
                      <td align="center">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                               style="max-width: 500px;margin: auto;">
                          <tr>
                            <td>
                              <p
                                style="padding: 0;margin: 0;text-align: left;padding-left: 20px;padding-right: 20px;font-size: 24px;font-weight: bold;margin-bottom: 20px;color: white;">
                                Hello Participant
                              </p>
                              <p
                                style="font-size: 18px;padding: 0;padding-left: 20px;padding-right: 20px;margin: 0;text-align: left;color: white;margin-bottom: 15px;line-height: 140%;">
                                {{notification}}
                              </p>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="background-color: #283248;">
                  <p style="padding: 10px;margin:0;">&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td align="center"
                    style="width: 100%;background-color: #1c2435;border-top: 20px solid #1c2435; border-bottom: 20px solid #1c2435; ">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%"
                         style="direction: ltr; background-color:#1c2435; border:none;border-collapse:collapse;border-spacing:0;width:100%; max-width: 380px;text-align: center;">
                    <tr>
                      <td style="display: inline-block;margin: 0px 5px;">
                        <a href="{{androidAppUrl}}" target="_blank" rel="noopener noreferrer">
                          <img src="{{serverUrl}}/images/playStore.png" alt="">
                        </a>
                      </td>
                      <td style="display: inline-block;margin: 0px 5px;">
                        <a href="{{iosAppUrl}}" target="_blank" rel="noopener noreferrer">
                          <img src="{{serverUrl}}/images/appStore.png" alt="">
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>

</html>
