<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steppi Challenge - 1</title>
    <style></style>
</head>

<body style="padding:0;margin: 0;background: #394D5C;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0"
        style="font-family: 'Cairo', sans-serif;background-color:#394D5C;border:none;border-collapse:collapse;border-spacing:0;width:100%">
        <tr>
            <td align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0"
                    style="border:none;border-collapse:collapse;border-spacing:0;margin:auto;max-width:600px;width:100%; background: #394D5C;">
                    <tr>
                        <td style="height:40px;width: 100%;">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;text-align: center;">
                            <img src="{{serverUrl}}/images/logo2.png" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td style="height:40px;width: 100%;">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding-left: 15px;padding-right: 15px;">
                <table width="100%" border="0" cellpadding="0" cellspacing="0"
                    style="border:none;border-collapse:collapse;border-spacing:0;margin:auto;max-width:600px;width:100%; background: #283148; box-shadow: 0 0 30px rgba(0, 0, 0, .3);border-radius: 30px;;">
                    <tr>
                        <td align="center" style="height:40px;width: 100%;font-size: 0; line-height: 0;">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left: 15px;padding-right: 15px;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                style="border:none;border-collapse:collapse;border-spacing:0;margin:auto;max-width:500px;width:100%; background: #283148;">
                                <tr>
                                    <td align="center">
                                        <img src="{{serverUrl}}/images/hero.png" style="max-width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="height:20px;width: 100%;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;width: 100%;">
                                        <img src="{{corporateLogo}}" style="max-width: 89px;border-radius: 4px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="height:20px;width: 100%;font-size: 0; line-height: 0;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;width: 100%;">
                                        <p
                                            style="font-size: 18px;font-weight: Bold;font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center;color: #20CE97;margin: 0;padding:0;">
                                            Corporate Challenge Starting Soon
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="height:60px;width: 100%;font-size: 0; line-height: 0;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%;">
                                        <p
                                            style="font-size: 16px;color: #fff;text-align: left;margin: 0;padding: 0;line-height: 130%;">
                                            {{notification}}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="height:30px;width: 100%;font-size: 0; line-height: 0;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"
                                        style="background:#394D5C;padding-left: 20px;padding-right: 20px;border-radius: 5px;">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                            style="border:none;border-collapse:collapse;border-spacing:0;margin:auto;width:100%;">
                                            <tr>
                                                <td style="width: 50%;">
                                                    <p
                                                        style="font-size: 16px;margin:0;padding:0;text-align: left;color: #6697EC;">
                                                        Start Date
                                                    </p>
                                                </td>
                                                <td style="width: 50%;">
                                                    <p
                                                        style="font-size: 16px;margin:0;padding:0;text-align: right;color: #ffffff;">
                                                        {{startDate}}
                                                    </p>
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="height:10px;width: 100%;font-size: 0; line-height: 0;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"
                                        style="background:#394D5C;padding-left: 20px;padding-right: 20px;border-radius: 5px;">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                            style="border:none;border-collapse:collapse;border-spacing:0;margin:auto;width:100%;">
                                            <tr>
                                                <td style="width: 50%;">
                                                    <p
                                                        style="font-size: 16px;margin:0;padding:0;text-align: left;color: #6697EC;">
                                                        End Date
                                                    </p>
                                                </td>
                                                <td style="width: 50%;">
                                                    <p
                                                        style="font-size: 16px;margin:0;padding:0;text-align: right;color: #ffffff;">
                                                        {{endDate}}
                                                    </p>
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="height:10px;width: 100%;font-size: 0;line-height: 0;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"
                                        style="background:#394D5C;padding-left: 20px;padding-right: 20px;border-radius: 5px;">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                            style="border:none;border-collapse:collapse;border-spacing:0;margin:auto;width:100%;">
                                            <tr>
                                                <td style="width: 50%;">
                                                    <p
                                                        style="font-size: 16px;margin:0;padding:0;text-align: left;color: #FFD338;">
                                                        Gift
                                                    </p>
                                                </td>
                                                <td style="width: 50%;">
                                                    <p
                                                        style="font-size: 16px;margin:0;padding:0;text-align: right;color: #ffffff;">
                                                        {{rewardDetails}}
                                                    </p>
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="height:10px;width: 100%;font-size: 0;line-height: 0;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"
                                        style="background:#394D5C;padding-left: 20px;padding-right: 20px;border-radius: 5px;">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                            style="border:none;border-collapse:collapse;border-spacing:0;margin:auto;width:100%;">
                                            <tr>
                                                <td style="width: 50%;">
                                                    <p
                                                        style="font-size: 16px;margin:0;padding:0;text-align: left;color: #6697EC;">
                                                        Participants
                                                    </p>
                                                </td>
                                                <td style="width: 50%;">
                                                    <p
                                                        style="font-size: 16px;margin:0;padding:0;text-align: right;color: #ffffff;">
                                                        {{participants}}
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="height:40px;width: 100%;font-size: 0;line-height: 0;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="text-align: center;">
                                        <div>
                                            <!--[if mso]>
                                            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:45px;v-text-anchor:middle;width:240px;" arcsize="23%" stroke="f" fillcolor="#06EBBF">
                                              <w:anchorlock/>
                                              <center>
                                            <![endif]-->
                                            <a href="{{appLink}}"
                                                style="background-color:#06EBBF;border-radius:10px;color:#283148;display:inline-block;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:17px;line-height:45px;text-align:center;text-decoration:none;width:240px;-webkit-text-size-adjust:none;">
                                                VIEW CHALLENGE
                                            </a>
                                            <!--[if mso]>
                                              </center>
                                            </v:roundrect>
                                          <![endif]-->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="height:40px;width: 100%;font-size: 0;line-height: 0;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="{{serverUrl}}/images/hero2.png" style="width: 100%;max-width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="height:20px;width: 100%;font-size: 0;line-height: 0;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%">
                                        <p style="text-align: center;width: 100%;font-size: 13px;color: #fff;">
                                            ©2020 STEPPI.Inc All rights reserved.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="height:40px;width: 100%;font-size: 0;line-height: 0;">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" style="height:40px;width: 100%;font-size: 0; line-height: 0;">
                &nbsp;
            </td>
        </tr>
    </table>
</body>

</html>